* {
   user-select: none;
  -webkit-user-select: none; /* Safari and older iOS browsers */
  -khtml-user-select: none; /* Older versions of Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer and Edge */
  touch-action: none; /* Disable touch actions to prevent text selection on some devices */
}

body {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dices {
  width: 100%;
  display: flex;
  justify-content: center;
}

img:hover {
  scale: 1.05;
}

body {
  background-color: #1d2a3f;
}

h1 {
  margin-bottom: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 70px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

h1:hover {
  scale: 1.05;
}

p {
  font-size: 25px;
  color: #ffffff;
  font-family: "Indie Flower", cursive;
  user-select: none;
}

img {
  width: 50%;
  transition: 0.3s;
}

.Rezultati {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.Rezultati p {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.2rem;
  }
}
